<header>
    <LinkTo @route="index">
    <img src="/logo.png" alt="truth" class="logo">
    </LinkTo>
  <h1 class="header-title">Truth</h1>
</header>
<div class="container">
  <div class="column">
    <div id="truth-item" class="truth-item">
      {{this.model.truth}}
    </div>
  </div>
</div>
