<header>
  <LinkTo @route="index">
    <img src="/logo.png" alt="truth" class="logo">
  </LinkTo>
  <h1 class="header-title">Truth</h1>
</header>

<div class="container">
  <div class="column">
    <div class="truth-item">
      <div class="reference">
        {{this.model.truth.reference}}
      </div>
      <div class="verse">
        {{this.model.truth.verses}}
      </div>
    </div>
  </div>
</div>
